<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Charades Game</title>
</head>
<body>
    <h1 class="page_title">{{phrase}}</h1>

    {% if num_words > 1 %}
        <form id="word_selection" action="/acting/" method="get">
            {% for words in word_list %}
                <input type="submit"
                {% if forloop.counter == current_word %}
                    class="current_word_button"
                {% else %}
                    class="word_button"
                {% endif %}
                name= "current_word_index" value="{{forloop.counter}}">
            {% endfor %}
        </form>
    {% endif %}
</body>
</html>