{% include "includes/head.html" %}
<body>
    <div class="main">
        <h1 class="page_title">Charades Game</h1>

        {% if warning not in '' %}
            <p class="warning">{{warning}}</p>
        {% endif %}
        <form id="login_form" action="{% url 'instructions' %}" method="get">
            Session ID: <input id="session_field" class="input_field" type="text" name="session_id">
            <br/><br/>
            <input class="standard_button" id="actor_button" type="submit" name="user_type" value="Actor">
            <input class="standard_button" id="viewer_button" type="submit" name="user_type" value="Viewer">
        </form>
    </div>
</body>
</html>