{% include "includes/head.html" %}
{% if is_actor == False or phrase_ready == False%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
setInterval(function(){
    $.get( "/api/phrase_ready", function( data ) {
        if (data == "True") {
            location.reload(true);
        }
    });
    poll();
}, 2500);
</script>
{% endif %}

<body>
    <div class="main">
        <h1 class="page_title">Instructions</h1>
        <p id='instruction_para'>{{instructions}}</p>

        {% if is_actor or phrase_ready %}
        <form id='instructions_cont' action="{{outbound_url}}">
            <input type="submit" id='continue_button' class="standard_button" value="Continue">
        </form>
        {% else %}
        <p id="wait">Waiting for the actor to select a phrase...<p>  
        {% endif %}
    </div>
</body>
</html>