{% include "includes/head.html" %}
<body>
    <div class="main">
        <h1 class="page_title">Select Phrase</h1>
        <p>{{new_phrase}}</p>

        <form id='phrase_selection_form' action="{% url 'acting' %}" method="get">
            {% for phrase in phrases %}
            <input type="submit" class="standard_button" name="phrase" value="{{ phrase }}">
            <br/>
            {% endfor %}
            <input type="hidden" name="new_phrase" value="True">
        </form>
    </div>
</body>
</html>